@model PersonAddRequest

<form>


    <div class="container">
        <div class="row mb-3">
            <div class="col-12">
                <div class="row mb-3">
                    <h2>Create Person</h2>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label>Person Name</label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="text" asp-for="PersonName" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label>Email</label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="text" asp-for="PersonName" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label>Date of Birth</label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="date" asp-for="PersonName" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label>Gender</label>
                    </div>
                    <div class="col-6">
                        <input type="radio" asp-for="Gender" value="Male" id="genderMale" />
                        <label for="genderMale" class="me-2">Male</label>

                        <input type="radio" asp-for="Gender" value="Female" id="genderFemale" />
                        <label for="genderFemale" class="me-2">Female</label>

                        <input type="radio" asp-for="Gender" value="Other" id="genderOther" />
                        <label for="genderOther" class="me-2">Other</label>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label>Country</label>
                    </div>
                    <div class="col-6">
                        <select class="form-select" asp-for="CountryID">
                            <option>Please Select</option>
                            @foreach (var country in ViewBag.Countries)
                            {
                                <option value="@country.CountryId">@country.CountryName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label>Address</label>
                    </div>
                    <div class="col-6">
                        <textarea asp-for="Address" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label>Receve News Letter</label>
                    </div>
                    <div class="col-6">
                        <input type="checkbox" asp-for="ReceiveNewLetters" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-2">
                    </div>
                    <div class="col-6">
                        <button class="btn btn-primary" type="submit">Create</button>
                    </div>
                </div>

                <div class="row mb-3">
                    @if (ViewBag.Errors != null)
                    {
                        <div>
                            <ul>
                                @foreach (var error in ViewBag.Errors)
                                {
                                    <li>@error</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</form>