@using Services.Enums;
<th>
    @if (ViewBag.SortBy == ViewBag.ColumnName && ViewBag.sortOrder == SortOrderOptions.ASC.ToString())
    {
        <a href="~/Person/PersonList?searchBy=@(ViewBag.CurrentSearchBy)&searchString=@(ViewBag.CurrentSearchString)&sortBy=@(ViewBag.ColumnName)&sortOrder=DESC">@ViewBag.DisplayName<i class="fa-solid fa-sort-up"></i></a>
    }
    else if (ViewBag.SortBy == ViewBag.DisplayName && ViewBag.sortOrder == SortOrderOptions.DESC.ToString())
    {
        <a href="~/Person/PersonList?searchBy=@(ViewBag.CurrentSearchBy)&searchString=@(ViewBag.CurrentSearchString)&sortBy=@(ViewBag.ColumnName)&sortOrder=ASC">@ViewBag.DisplayName <i class="fa-solid fa-sort-down"></i></a>
    }
    else
    {
        <a href="~/Person/PersonList?searchBy=@(ViewBag.CurrentSearchBy)&searchString=@(ViewBag.CurrentSearchString)&sortBy=@(ViewBag.ColumnName)&sortOrder=ASC">@ViewBag.DisplayName<i class="fa-solid fa-sort-down"></i></a>
    }
</th>